body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 80vh; /* Full height */
    overflow: scroll; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    background: blur(4px);
    -webkit-filter: 'blur(4px)';

}

.btn-hover.color-11 {
       background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}

img.title{
  display: flex;
  float: left;
  margin-top: 10px;
}
/*navigation*/
nav ul {
  list-style-type: none;
	margin: 0px;
	padding: 19px;
  padding-top: 7.55%;
	overflow: hidden;
  display: flex;
  float: right;
}


nav li a {

	text-align: center;padding-top: 10%;
	padding: 4px 16px;
	text-decoration: none;
  font-size: 34px;
  color: #0700EF;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 9% 95%;
  background-repeat: no-repeat;
  background-size: 0% 5px;
  transition: background-size .3s;
}

nav li a:hover, a:focus {

	text-align: center;
	padding: 4px 16px;
	text-decoration: none;
  font-size: 34px;
  background-size: 100% 5px;
  delay: 0.5s;
}


img.title{
  display: flex;
  float: left;
  margin: 40px;
  margin-left: 50px;
	padding: 19px;
  width: 30px;
}

/* Modal Content */
.modal-content:nth-of-type(1) {
    background-color: #34343e;
    border: 1px solid #888;
}

/* Modal Content */
.modal-content:nth-of-type(5) {
    background-color: yellow;
    border: 1px solid #888;
}

/* The Close Button */
.close {
    color: rgb(255,255,255,0.7);
    float: center;
    font-size: 60px;
    font-weight: lighter;
    line-height: 25px;
    position: absolute;
    right: 2.9%;
    text-align: center;
    width: 24px;
    transform: rotate(45deg);
    text-decoration: none;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    padding-bottom: 10px;
}
.close:hover,
.close:focus {
    color: rgb(255,255,255,0.2);
    line-height: 25px;
    position: absolute;
    right: 2.9%;
    text-align: center;
    width: 24px;
    transform: rotate(45deg);
    text-decoration: none;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    padding-bottom: 10px;

    float: center;
    delay: 0.5s;
      font-size: 60px;
}


/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}



.row{
  display: flex;
  flex-direction:  row;
  flex-wrap: wrap;
  align-items: bottom;
  justify-content: center;
 transition: 1.7s;
}
.column{
  display: flex;
  flex-direction:  column;
  height: auto;
  align-content: center;
  justify-content: start;
  flex: 0.37;
  transition: 1.7s;
}


img.photo-modal{
  width: 30vw;
  border-radius: 18px;
  border-width: thin;
  overflow: hidden;
}

img.in-modal{
  width: 75vw;
  height:auto;
  /*border: 30px solid #434351;
  border-radius: 18px;*/
  margin-bottom: 5%;
  align-content: center;
  margin-left: 3%;
  -webkit-box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  display: block;
  overflow: hidden;
  object-fit: cover;
  transition: 2.4s ease;
  border-radius: 12px;
  delay: 0.5s;
}


img.in-modal-top{
  width: 75vw;
  height:35vh;
  /*border: 30px solid #434351;
  border-radius: 18px;*/
  margin-bottom: 5%;
  align-content: center;
  margin-left: 3%;
  display:block;
  overflow: hidden;
  object-fit: cover;
  transition: 2.4s ease;
  border-radius: 18px 18px 0px 0px;
}


img.in-grid-modal{
  width: 36.5vw;
  /*border: 30px solid #434351;
  border-radius: 18px;*/
  align-content: center;
  -webkit-box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  transition: 2.4s ease;
  display: block;
  overflow: hidden;
  object-fit: cover;
  border-radius: 12px;
}


img.in-grid-modal-right{
  width: 36.5vw;
  /*border: 30px solid #434351;
  border-radius: 18px;*/
  align-content: center;
  -webkit-box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  transition: 2.4s ease;
  display: block;
  overflow: hidden;
  object-fit: cover;
  border-radius: 12px;
}


p.graphic-3 {
  color:  #db0338;
  font-weight: bold;
  line-height: 0.1;
  text-align: center;
  font-size: 14px;
  margin-right: 2.5%;
  border-spacing: inherit;
}
img.hover-in-grid-modal-2{
  width: 36.5vw;

  /*border: 30px solid #434351;
  border-radius: 18px;*/
  align-content: center;
  -webkit-box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  display: block;
  overflow: hidden;
  object-fit: cover;
  transition: 3.4s ease;
  border-radius: 0px;
  delay: 0.5s;
}

img.hover-in-grid-modal-2-right{
  width: 36.5vw;

  /*border: 30px solid #434351;
  border-radius: 18px;*/
  align-content: center;
  -webkit-box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  display: block;
  overflow: hidden;
  object-fit: cover;
  transition: 3.4s ease;
  border-radius: 0px;
  delay: 0.5s;
}


img.hover-in-grid-modal-3{
  width: 26.5vw;
  /*border: 30px solid #434351;
  border-radius: 18px;*/
  align-content: center;
  -webkit-box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  display: block;
  overflow: hidden;
  object-fit: cover;
  transition: 2.4s ease;
  border-radius: 12px;
}


img.hover-in-grid-modal{
  height: 12.5vw;
  width: 12.5vw;
  display: block;
  overflow: hidden;
  object-fit: cover;
  transition: 4.4s ease;
  border-radius: 12px;
  transition-delay: 10s;
}



.video-in-modal{
  width: 75vw;

  align-content: center;
  margin-left: 3%;

  -webkit-box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  display: block;
  overflow: hidden;
  object-fit: cover;
  transition: 2.4s ease;

}

.videotwo-in-modal{
  width: 75vw;
  height: auto;
  margin-bottom: 0%;
  align-content: center;

  -webkit-box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
}

.videotwo-in-grid-modal{
  width: 36.5vw;
  margin-top: 7%;
  margin-bottom: 0%;
  align-content: center;
  margin-left: 0%;
  -webkit-box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);

}
.video-modal{
  -webkit-box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  width: 30vw;

  border-width: thin;
  border-radius: 12px;
  margin-left: -10%;
}

#cheme.photo-modal{
  width: 30vw;
  border-radius: 18px;
  border-width: thin;
  margin: 1px;
  overflow: hidden;
  display: block;
  margin-top: 20%;

  object-fit: cover;
}

#sweeper.photo-modal{
  width: 30vw;
  border-radius: 18px;
  border-width: thin;
  margin: 1px;
  margin-bottom: 25%;
  height: 25.5vw;
  display: block;
  overflow: hidden;
  object-fit: cover;
}

#home.photo-modal{
  width: 30vw;
  border-radius: 18px;
  border-width: thin;
  margin: 1px;
  height: 46.5vw;
  display: block;
  overflow: hidden;
  object-fit: cover;
}

#base.photo-modal{
  width: 30vw;
  border-radius: 18px;
  border-width: thin;
  margin: 1px;
  height: 50.5vw;
  display: block;
  overflow: hidden;
  object-fit: cover;
}


#data.photo-modal{
  width: 30vw;
  border-radius: 18px;
  border-width: thin;
  margin: 1px;
  margin-bottom: 10%;
  height: 20.5vw;
  display: block;
  overflow: hidden;
  object-fit: cover;
}


@keyframes wiggle {
  0% { transform: translate(1px, 1px) rotate(0deg); }
 10% { transform: translate(-1px, -1px) rotate(-1deg); }
 20% { transform: translate(-3px, 0px) rotate(1deg); }
 30% { transform: translate(2px, 2px) rotate(0deg); }
 40% { transform: translate(1px, -1px) rotate(1deg); }
 50% { transform: translate(-1px, 2px) rotate(-1deg); }
 60% { transform: translate(-2px, 1px) rotate(0deg); }
 70% { transform: translate(2px, 1px) rotate(-1deg); }
 80% { transform: translate(-1px, -1px) rotate(1deg); }
 90% { transform: translate(1px, 2px) rotate(0deg); }
 100% { transform: translate(1px, -2px) rotate(-1deg); }
}

img.photo-modal:hover {
  animation: wiggle 0.9s;
  transition: 0.2s;
  animation-iteration-count: infinite;
  delay: 0.5s;
}



.glow {
 transition: 1s;
}
.modalDialog {
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.9);
        z-index: 99999;
        opacity:0;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        pointer-events: none;
        overflow: scroll;
    }

    .modalDialog:target {
        opacity:1;
        pointer-events: auto;
    }

    .modalDialog > div {
        width: 80vw;
        position: relative;
        margin: 10% auto;
        padding: 0px 20px 13px 20px;
        border-radius:  18px;
        background: #121212;
        overflow: scroll;

    }

    section.modalDialog{
      padding-bottom: -400px;
      background-color: white;
      height: 100px;
    }
    .close {
        line-height: 25px;
        position: absolute;
        right: 2.9%;
        text-align: center;
        width: 24px;
        transform: rotate(45deg);
        text-decoration: none;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        padding-bottom: 10px;
    }



     .parallax3 {
       padding-top: 30px;
       background-attachment: fixed;
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       overflow: scroll;
       width:80vw;
     }

     .parallax4 {
       background-attachment: fixed;
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       overflow: scroll;
       width:80vw;
     }

     .parallax5 {
       background-attachment: fixed;
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       overflow: scroll;
       width:80vw;
     }

     .parallax6 {
       background-attachment: fixed;
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       overflow: hidden;
       width:80vw;
     }

     .section-work:nth-of-type(1) {
       background-image:   url('index_files/bckgrnd.png');
       height:120vh;
       background-attachment: fixed;
     }

     .parallax3:nth-of-type(1) {
       background-image:   url('port_files/data.png');
       padding-top: 18px;;
       height:30vh;
       border-radius:  18px  18px 18px 18px;
     }

     .parallax4:nth-of-type(1) {
       background-image:   url('port_files/home.png');
       padding-top: 18px;;
       height:30vh;
       border-radius:  18px  18px 18px 18px;
     }

     .parallax5:nth-of-type(1) {
       background-image:   url('port_files/event.png');
       padding-top: 18px;;
       height:30vh;
       border-radius:  18px  18px 18px 18px;
     }

     .parallax6:nth-of-type(1) {
       background-image:   url('port_files/DSC_0089.JPG');
       padding-top: 18px;;
       height:30vh;
       border-radius:  18px  18px 18px 18px;
     }

     img.parallax6{
        height:100px;
     }
    h4.data {
      color:  #121212;
      font-weight: bold;
      line-height: 0.1;
      text-align: center;
      font-size: 11px;
      border: 15px solid #badbfe;
      background-color:#badbfe;
      border-radius: 18px;
      margin-right: 70%;
      border-spacing: inherit;
    }

    h4.cheme {
      color:  #121212;
      font-weight: bold;
      line-height: 0.1;
      text-align: center;
      font-size: 11px;
      border: 15px solid #d5493b;
      background-color:#d5493b;
      border-radius: 18px;
      margin-right: 70%;
      border-spacing: inherit;


    }

img.hover-in-grid-modal:hover{
  transform: scale(2.2);
  delay: 1.5s;
  transition: 1.2;
  height: auto;
  z-index: 4000;
transition-delay:1s;
}


    h4.base {
      color:  #121212;
      font-weight: bold;
      line-height: 0.1;
      text-align: center;
      font-size: 11px;
      border: 15px solid #8dc8e8;
      background-color:#8dc8e8;
      border-radius: 18px;
      margin-right: 70%;
      border-spacing: inherit;
    }

    h4.photo {
      color:  #121212;
      font-weight: bold;
      line-height: 0.1;
      text-align: center;
      font-size: 11px;
      border: 15px solid #60b3c5;
      background-color:#60b3c5;
      border-radius: 18px;
      margin-right: 70%;
      border-spacing: inherit;
    }

    h4.game {
      color:  #121212;
      font-weight: bold;
      line-height: 0.1;
      text-align: center;
      font-size: 11px;
      border: 15px solid #ffd800;
      background-color:#ffd800;
      border-radius: 18px;
      margin-right: 70%;
      border-spacing: inherit;
    }

    h4.graphic {
      color:  #121212;
      font-weight: bold;
      line-height: 0.1;
      text-align: center;
      font-size: 11px;
      border: 15px solid #db0338;
      background-color:#db0338;
      border-radius: 18px;
      margin-right: 70%;
      border-spacing: inherit;
    }

    p.graphic-2 {
      color:  #db0338;
      font-weight: bold;
      line-height: 0.1;
      text-align: right;
      font-size: 14px;
      margin-right: 2.5%;
      border-spacing: inherit;
    }

    h2.data {
        color: #fff;
        font-family: sans-serif;
        font-weight: 500;
        padding-top: -10px;
        line-height: 0.7;
    }

    p.data {
      color: rgb(255,255,255,0.7);
      font-family: sans-serif;
    }

    p.data-2 {
      color: #fff;
      font-family: sans-serif;
      letter-spacing: 9.5;
    }

    @media screen and (max-width: 1024px){
      img.hover-in-grid-modal{
        height: 30.5vw;
        width: 30.5vw;
        display: block;
        overflow: hidden;
        object-fit: cover;

        border-radius: 12px;
        z-index:0;
        position: static;
      }



      .row{
        display: flex;
        flex-direction:  row;
        flex-wrap: wrap;
        align-items: bottom;
        justify-content: center;
       transition: 1.7s;
      }
      .column{
        display: flex;
        flex-direction:  column;
        height: auto;
        justify-content: center;
        transition: 1.7s;

      }

      #grid.row{
        display: flex;
        flex-direction:  row;
        flex-wrap: wrap;
        align-items: bottom;
        justify-content: center;

      }

      #grid.row:first-child {
       z-index: 1;
     }

      #grid.column{
        display: flex;
        flex-direction:  column;
        height: auto;

        flex-basis: 45%;
        justify-content: center;
        width: 90vw;
        height: auto;

      }

      img.photo-modal{
        width: 30vw;
        border-radius: 18px;
        margin-bottom: 0%;
        border-width: thin;
        overflow: hidden;
      }

      .video-modal{
        width: 30vw;
        border-radius: 18px;
        border-width: thin;
        margin-bottom: 10%;
      }

      #cheme.photo-modal{
        width: 30vw;
        border-radius: 18px;
        border-width: thin;
        margin-top: 25%;
        display: block;
        overflow: hidden;
        object-fit: cover;

      }

      #sweeper.photo-modal{
        width: 30vw;
        border-radius: 18px;
        border-width: thin;
        margin-bottom: 25%;
        height: 25.5vw;
        display: block;
        overflow: hidden;
        object-fit: cover;
      }

      #data.photo-modal{
        width: 30vw;
        border-radius: 18px;
        border-width: thin;
        margin-bottom: 10%;
        height: 17.5vw;

        overflow: hidden;
        object-fit: cover;
      }

      /*navigation*/
      nav ul {
        list-style-type: none;
      	margin: 0px;
      	padding: 19px;
        padding-top: 0%;
      	overflow: hidden;
        display:inline;
        float: right;
        padding-top: 75px;
      }
      img.title{
        padding-top: 44px;
        width: 50px;
      }
      nav li a {
      	text-align: right;
      	padding: 3px 16px;
      	text-decoration: none;
        font-size: 60px;
        color: #0700EF;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 5px;
        transition: background-size .3s;
      }

      nav li a:hover, a:focus {

      	text-align: right;
      	padding: 4px 16px;

      	text-decoration: none;
        font-size: 60px;
        background-size: 100% 5px;
        delay: 0.5s;
      }


      h1.egg{
        font-size: 100px;
        word-wrap: break-word;
        color: #0700EF;
        word-spacing: 1;
        text-align: left;
        padding-left: 5%;
        line-height: 79%;
        padding-top: 650px;
        padding-right: 5%;
        padding-left: 10%;
        padding-bottom: -10px;

      }


    }
