body {
  background: linear-gradient(315deg, #e0e4e7
, #f0f4f7);
    font-family: 'Helvetica';
  font-size: 23px;
}



img.in-modal{
  height: 700px;
  width: 400px;
  display: block;
  margin-bottom: 5%;
  align-content: center;
  margin-left: 5%;
  float:right;
  display: block;
  overflow: hidden;
  object-fit: cover;
  margin-top: 0vh;
  border: 5px solid transparent;
  border-radius: 24px;
  background:
  linear-gradient(to bottom, transparent, transparent),
  linear-gradient(320deg, #d9dcdf, #e3e3e3);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  border-radius: 70% 30% 30% 70% / 40% 60% 40% 60%;
  box-shadow:  5px 5px 10px hsl(210, 8%, 60%),
  -5px -5px 10px rgb(255,255,255,0.6);
}


.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow:scroll;
  width:100vw;
}

.parallax2 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: scroll;
  width:100vw;
}

.clustrmaps{
  visibility: hidden;

}

/* big header blue words */
.egg{
  font-size: 90px;
  text-align: left;
  padding-left: 5%;
  line-height: 123%;
  padding-top: 220px;
  padding-right: 10%;
  padding-left: 10%;
  letter-spacing: .01em;
  word-wrap:break-word;
  text-shadow: 0.7px 0.9px 1px hsl(210, 8%, 90%),0.9px 1px 1px hsl(210, 8%, 89%),
  1.3px 1.3px 1px hsl(210, 8%, 87%), 1.45px 1.6px 1px hsl(210, 8%, 86%),
  1.7px 1.9px 1px hsl(210, 8%, 85%),1.85px 2.1px 1px hsl(210, 8%, 83%),
  1.95px 2.3px 1px hsl(210, 8%, 80%),1.95px 2.9px 1px hsl(210, 8%, 80%),
  2.1px 2.9px 1px hsl(210, 8%, 79%),   2.3px 3px 1px hsl(210, 8%, 78%),
  9px 7px 12px hsl(210, 8%, 70%),  3px 3px 8px hsl(210, 8%, 70%), -1.5px 0px 14px
  rgb(246, 252, 255, 1),
  -1.5px 0px 34px rgb(246, 252, 255, 0.6),0.5px -1px 14px rgb(246, 252, 255, 0.4)
  ;
  -webkit-text-stroke: 0.8px  #f6f7f8;
  color:#dfe3e6;
}

/* skill category titles */
h2.skilltitle{
  font-size: 20px;
  padding-top: 90px;
  text-align: left;
  margin: 2px;
  width: 100%;
  font-weight:800;
  text-transform: uppercase;
  line-height: 1.5;
  color:#4a79ff;
  text-shadow: 1px 0px 15px  rgb(74,121,255)
  , 2px 1.6px 4px hsl(210, 8%, 62%)	,
  -1px -2px 4px hsl(210, 8%, 100%);
  font-family: 'Helvetica', sans-serif;
  font-stretch:extra-expanded;
  transform: scale(1.1, 1);
  -webkit-transform: scale(1.1, 1); /* Safari and Chrome */
  -moz-transform: scale(1.1, 1); /* Firefox */
  -ms-transform: scale(1.1, 1); /* IE 9+ */
  -o-transform: scale(1.1, 1); /* Opera */
  margin-bottom: -10px;
  margin-left: 19%;
}

#po  {
  /* background-image: linear-gradient(120deg, rgb(74,121,255,0.5) 0%, rgb(74,121,255,0.5) 100%); */
  text-shadow: none;
  border-radius: 2vw;
  filter: drop-shadow(7px 4px 14px  rgb(74,121,255,0.7))
  drop-shadow(2px 1.6px 3px hsl(210, 8%, 55%))
  drop-shadow(-2px -4px 3px hsl(210, 8%, 100%))
  drop-shadow(-4px -4px 4px hsl(210, 8%, 100%))
  drop-shadow(-4px -4px 4px hsl(210, 8%, 100%));
  color:rgb(74,121,255,1);
  transform: rotate(910deg);
  -webkit-transform: rotate(-90deg);
     -moz-transform: rotate(-90deg);
       -webkit-text-stroke: transparent;
}
#decoration1 {
  border-bottom:3px solid rgb(255, 103, 94,1);
  box-shadow:
  0px 12px 11px -9px rgb(255, 103, 94,.25),
  inset 0 -3px 3px -2px  rgb(255, 103, 94,.3);
   padding: 10px;
   &:hover {
     background-size: 100% 88%;
   }
}

#decoration4 {
  /* border-bottom:3px solid rgb(255, 103, 94,1); */
  text-shadow: 2px 3px 14px rgb(255, 103, 94,1);
  color: rgb(255, 103, 94,1);
  text-decoration: none;
  /* font-size: 100px; */
  align-self: stretch;
    font-weight: 800;
    vertical-align: middle;
  -webkit-text-stroke: 0.0px  #f6f7f8;
  /* box-shadow:
  0px 12px 11px -9px rgb(255, 103, 94,.25),
  inset 0 -3px 3px -2px  rgb(255, 103, 94,.3); */
   padding: 10px;
   &:hover {
     background-size: 100% 88%;
   }
}

#decoration3 {
      vertical-align:bottom;
  /* border-bottom:3px solid rgb(255, 103, 94,1); */
  text-shadow: 2px 3px 14px rgb(255, 103, 94,1);
  color: rgb(255, 103, 94,1);
  text-decoration: none;
  /* font-size: 84px; */
  font-weight: 400;
  -webkit-text-stroke: 0.0px  #f6f7f8;
  /* box-shadow:
  0px 12px 11px -9px rgb(255, 103, 94,.25),
  inset 0 -3px 3px -2px  rgb(255, 103, 94,.3); */
   padding: 10px;
   &:hover {
     background-size: 100% 88%;
   }
}

#decoration0 {
  border-bottom:3px solid rgb(255, 128, 96);
  box-shadow:
  0px 12px 11px -9px rgb(255, 128, 96,.25),
  inset 0 -3px 3px -2px  rgb(255, 128, 96,.25);
   padding: 10px;
   &:hover {
     background-size: 100% 88%;
   }
}



/* the skills lists */
p.skills{
  font-family: "Segoe UI",sans-serif;
  font-size: 16px;
  color:  hsl(0, 0%, 36%);
  opacity: 0.9;
  text-shadow: 2px 3px 14px rgb(91, 91, 91,0.8);
  -webkit-background-clip: text;
  font-weight: 500;
}


/* the skills lists */
p.skills a {
  font-family: "Segoe UI",sans-serif;
  color:  hsl(0, 0%, 36%);
  opacity: 0.9;
  text-shadow: 2px 3px 14px rgb(91, 91, 91,0.8);
  -webkit-background-clip: text;
  font-weight: 500;
  text-decoration: none;
}

/* the skills lists */
p.skills a:hover {
  font-family: "Segoe UI",sans-serif;
  color:  hsl(0, 0%, 36%);
  opacity: 0.9;
  text-shadow: 2px 3px 14px hsl(0, 0%, 36%),
  0px 0px 6px hsl(0, 0%, 30%),0px 0px 3px hsl(0, 0%, 30%);
  -webkit-background-clip: text;
  font-weight: 500;
}

.row{
  display: flex;
  flex-direction:  row;
  flex-wrap: wrap;
  padding-top: 1%;
  width:  100%;
  height: 100%;
}

.column{
  display: flex;
  flex-direction:  column;
  flex: .5;
  align-items: center;
  border-spacing: 5px;
  margin: 10px;
}

.one-column, .two-column, .three-column{
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: -20px;
  text-align: center;
}

.row-about{
  display: flex;
  flex-direction:  row;
  flex-wrap: wrap;
  padding-top: 1%;
  width:  95%;
  height: 100%;
  margin-left: 5%;
}

.column-about{
  display: flex;
  flex-direction:  column;
  flex: .45;
  align-items: center;
  border-spacing: 5px;
  margin: 10px;
}

.one-column-about {
  margin-bottom: 0px;
  margin-left: 20px;
  margin-right: -20px;
  text-align: center;
}

.two-column-about {
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: -20px;
  text-align: center;
}

/* about paragraph */
p.about{
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
  padding-top: 3%;
  padding-left: 14%;
  padding-right: 5%;
  padding-bottom: 3%;
  color: hsl(0, 0%, 36%);
  opacity: 0.9;
  text-shadow: 2px 3px 14px rgb(91, 91, 91,0.8);
  -webkit-background-clip: text;
  text-align: left;
  font-family: "Segoe UI",sans-serif;
  width: 450px;
  height:100%;
  margin-bottom:10vh;
}

/*not actually section skills this section is about stuff */
section.skills{
  padding-top: 20%;
  padding-left:13%;
  padding-right: 13%;
}

/* this is skills */
h2.skills{
  font-stretch:extra-expanded;
  transform: scale(1.1, 1);
  -webkit-transform: scale(1.1, 1); /* Safari and Chrome */
  -moz-transform: scale(1.1, 1); /* Firefox */
  -ms-transform: scale(1.1, 1); /* IE 9+ */
  -o-transform: scale(1.1, 1); /* Opera */
  font-size: 20px;
  padding-top: 0px;
  text-align: center;
  line-height: 2;
  letter-spacing: .05em;
  font-family: "Segoe UI",sans-serif;
  opacity: 1;
  margin: 2px;
  font-weight: 800;
  border-radius: 5vw;
  color:#dfe3e6;
  text-shadow: 3px 1.6px 4px hsl(210, 8%, 60%)	,-1px -3px 10px hsl(210, 8%, 100%);
 background: none;
}

#prog.skills {
  color:#e95a4f;
  text-shadow: 1px 0px 15px  rgb(222,69, 69,0.7)
  , 2px 1.6px 4px hsl(210, 8%, 62%)	,
  -1px -2px 4px hsl(210, 8%, 100%);
}

#ed.skills {
  color: #ff8060;
  text-shadow: 1px 0px 15px rgb(255, 103, 94,0.75)
  , 2px 1px 4.5px hsl(210, 8%, 46%)	,
  -1px -2px 4px hsl(210, 8%, 100%);

}

#pg.skills {
  color:rgb(74,121,255);
  text-shadow: 1px 0px 15px  rgb(74,121,255)
  , 2px 1.6px 4px hsl(210, 8%, 62%)	,
  -1px -2px 4px hsl(210, 8%, 100%);
}

/*footer css */
footer{
  margin-top: 10%;
  display:  flex;
  flex-direction: row;
  height: 100px;
  width: 100vw;
}

/* section hover*/
.skill-background {
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  margin-left:8vw;
  margin-right: 8vw;
  margin-top: 10%;
  border-radius: 12px;
  align-items: center;
  background: none;
  margin-bottom:1%;
  box-shadow:  5px 5px 10px hsl(210, 8%, 65%),
  -5px -5px 10px #ffffff;
}

/* skills title neumorphism border */
.neu-skill{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 4%;
  margin-left: 12%;
  margin-right: 4%;
  width: 77%;
  height: 110%;
  border-radius: 6vw;
  box-shadow: inset 7px 7px 16px hsl(210, 8%, 65%),
  inset -7px -7px 14px hsl(220, 16%, 100%);
  position: relative;
  opacity: 1;
}

/* skills list inset neumorphism */
.neu-skill-list {
  background: none ;
  box-shadow: inset 5px 5px 10px hsl(210, 8%, 65%),
  inset -5px -5px 10px hsl(220, 16%, 100%);
  border-radius: 0.7vw;
  height: 100%;
  width: 100%;
  padding-bottom: 1vh;
}

/* skills inset neumorphism title */
.neu-skill-title{
  width: 38%;
  height: 90%;
  border-radius: 3vw;
  padding-top: 1%;
  margin-left:31%;
  margin-top: 9%;
  opacity: 0.9;
}

/* skills body  neumorphism */
.neu-skill-body{
  background: none;
  box-shadow: inset 7px 7px 14px hsl(210, 8%, 65%),
  inset -7px -7px 14px hsl(220, 16%, 99%);
  width: 88%;
  height: 100%;
  border-radius: 3vw;
  margin-left:3%;
  margin-right:2%;
  padding-left:3%;
  padding-right:3%;
  margin-top: 4%;
  opacity: 1;
  padding-top: 1%;
}

@media screen and (max-width: 1100px){

  /* about paragraph */
  p.about{
    font-size: 16px;
    padding-top: 9%;
    font-family: "Segoe UI",sans-serif;
    margin-bottom:0vh;
      width: 360px;
  }

  /* skill category titles */
  h2.skilltitle{
    padding-top: 15%;
    text-align: left;
    margin-bottom: -40px;
  }
}

/*mobile state*/
@media screen and (max-width: 1010px) and (min-width: 750px){

  /*intro text*/
  .egg{
    padding-top: 220px;
    margin-bottom: -40px;
    font-size: 70px;
  }


  body {
    font-size: 38px;
  }




  img.in-modal{
    height: 400px;
    width: 400px;
      margin-bottom: -14vh;
    margin-left: 0%;
    margin-right: 24%;
    margin-top: 13vh;
  }


  /*not actually section skills this section is about stuff */
  section.skills{
    padding-top: 20%;
    padding-left:13%;
    padding-right: 13%;
  }


  /* about flex box */
  .row-about{
    display: flex;
    flex-direction:  column;
    flex-wrap: wrap;
    padding-top: 1%;
    width:  95%;
    height: 100%;
    margin-left: 0%;
  }
  /* about flex box */
  .column-about{
    display: flex;
    flex-direction:  column;
    flex: 1;
    align-items: center;
    border-spacing: 5px;
    margin: 10px;
  }
  /* about flex box */
  .one-column-about{
    margin-bottom: 0px;
    margin-left: -20px;
    margin-right: -20px;
    text-align: center;
    width:  100%;
  }
  /* about flex box */
  .two-column-about{
    margin-bottom: 0px;
    margin-left: -20px;
    margin-right: -20px;
    text-align: center;
    width:  100%;
  }

  /* skill category titles */
  h2.skilltitle{
    margin-top: 50px;
    text-align: center;
    margin-bottom: -10px;
    margin-left: 2%;
  }

  /* about paragraph */
  p.about{
    padding-top: 3%;
    padding-left: 12%;
    margin-bottom:6vh;
    width: 83%;
  }

  h2.skills{
    font-size: 16px;
  }

  /* skills title neumorphism border */
  .neu-line{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 0%;
    margin-left: 19%;
    margin-right: 4%;
    width: 60%;
    height: 0%;
    text-shadow: -3px -3px 7px #ffffff, 3px 3px 5px rgba(94, 104, 121, 0.612);
    position: relative;
    opacity: 1;
    line-height: 0;
    border-top: 30px dotted #000;
  }
}

@media screen and (max-width: 750px) and (min-width: 600px){

/* section hover*/
.skill-background {
    margin: 0 auto;
    width: 400px;
}


body {
  font-size: 38px;
}

/*intro text*/
.egg{
  padding-top: 250px;
  margin-bottom: -40px;
  font-size: 70px;
}

img.in-modal{
  height: 450px;
  width: 450px;
  margin-bottom: -8vh;
  align-content: center;
  margin-left: 6%;
  margin-top: 13vh;
}

/*not actually section skills this section is about stuff */
section.skills{
  padding-top: 20%;
  padding-left:13%;
  padding-right: 13%;
}

/* about flex box */
.row-about{
  display: flex;
  flex-direction:  column;
  flex-wrap: wrap;
  padding-top: 1%;
  width:  95%;
  height: 100%;
  margin-left: 0%;
}

/* skill category titles */
h2.skilltitle{
  padding-top: 0px;
  text-align: center;
  margin-bottom: -20px;
  margin-left: 13%;
  margin-top: 100px;
  width: 80%;
}

/* about paragraph */
p.about{
  padding-top: 3%;
  padding-left: 12%;
  margin-bottom:9vh;
  width: 83%;
}

/* skill flex box */
.row{
  display: flex;
  flex-direction:  column;
  flex-wrap: wrap;
  padding-top: 1%;
  width:  98.5%;
  height: 105%;
}
/* skill flex box */
.column{
  display: flex;
  flex-direction:  column;
  flex: .5;
  align-items: center;
  border-spacing: 5px;
  margin: 0px;
  margin-left: 20px;
  margin-right: 15px;
  margin-bottom: 5vh;
  margin-top: 5vh;
}


}

@media screen and (max-width: 600px) {

body {
  font-size: 38px;
}


img.in-modal{
  height: 320px;
  width: 320px;
  margin-top: 13vh;
  margin-bottom: -40px;
  margin-left: 9%;
}


/*not actually section skills this section is about stuff */
section.skills{
  padding-top: 20%;
  padding-left:10%;
  padding-right: 10%;
}

/* about flex box */
.row-about{
  display: flex;
  flex-direction:  column;
  flex-wrap: wrap;
  padding-top: 1%;
  width:  95%;
  height: 100%;
  margin-left: -1%;
}
/* about flex box */
.column-about{
  display: flex;
  flex-direction:  column;
  flex: 1;
  align-items: center;
  border-spacing: 5px;
  margin: 0px;
}

/* skill category titles */
h2.skilltitle{
  padding-top: 0px;
  text-align: center;
  margin-bottom: -20px;
  margin-left: 14%;
  margin-top: 100px;
  width: 80%;
}

/*intro text*/
.egg{
  margin-bottom: -40px;
  font-size: 50px;
}

/* about paragraph */
p.about{
  padding-top: 3%;
  padding-left: 15%;
  margin-bottom:6vh;
  width: 83%;
}


/* skill flex box */
.row{
  display: flex;
  flex-direction:  column;
  flex-wrap: wrap;
  padding-top: 1%;
  width:  98.5%;
  height: 105%;
}
/* skill flex box */
.column{
  display: flex;
  flex-direction:  column;
  flex: .5;
  align-items: center;
  border-spacing: 5px;
  margin: 0px;
  margin-left: 20px;
  margin-right: 15px;
  margin-bottom: 5vh;
  margin-top: 5vh;
}


}
