body {
  background: linear-gradient(315deg, #e0e4e7
, #f0f4f7);
    font-family: 'Helvetica';
  font-size: 23px;
}

/*navigation*/
nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 19px;
  margin-top: 56px;
  overflow: hidden;
  display: flex;
  float: right;
  margin-bottom: 15vh;
}

/* time stamp and info header */
p.stamp{
  color:  hsl(0, 0%, 36%);
  text-shadow: 2px 5px 14px rgb(91, 91, 91,0.75);
  text-align: center;
  margin-left: 9vw;
  opacity: 0.7;
}

/* logo */
img.title{
  display: flex;
  float: left;
  margin-top: 59px;
  margin-left: 69px;
  width: 30px;
   filter: drop-shadow(7px 4px 14px  rgb(74,121,255,0.6))
   drop-shadow(2px 1.6px 3px hsl(210, 8%, 45%))
   drop-shadow(-2px -4px 3px hsl(210, 8%, 100%))
   drop-shadow(-4px -4px 4px hsl(210, 8%, 100%))
   drop-shadow(-4px -4px 4px hsl(210, 8%, 100%));
}

 img.in-modal{
  height: auto;
  width: 75vw;
  display: block;
  margin-bottom: 2%;
  align-content: left;
  margin-left: 3%;
  display: block;
  overflow: hidden;
  object-fit: cover;
  margin-bottom: 90px;
  -webkit-border-radius:63px 63px 63px 63px/
  108px 108px 72px 72px;
  border: 2px solid transparent;
  border-radius: 7px;
  background:
  linear-gradient(to bottom, transparent, transparent),
  linear-gradient(320deg, #D1D9E6, #fff);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  box-shadow:  10px 10px 20px #9da8b3 ,
  -10px -10px 20px rgb(255,255,255,0.5);
}

nav li a {
  text-align: center;
  padding: 4px 16px;
  text-decoration: none;
  font-size: 44px;
  color: transparent;
  letter-spacing: .05em;
  font-weight: bold;
  color:  hsl(206, 3%, 91%);
  text-shadow: 0.3px 1px 1px hsl(220, 16%, 85%),
  1.9px 0.5px 1px hsl(220, 16%, 88%),
  1px 1.3px 1px hsl(220, 16%, 85%), 1.3px 1.7px 1px
  hsl(220, 16%, 84%),
  1.5px 1.9px 1px hsl(210, 8%, 82%),1.95px 2.1px 1px
  hsl(210, 8%, 80%),
  2px 2.3px 1px hsl(210, 8%, 79%),2.9px 2.9px 1px
  hsl(210, 8%, 77%),  3.3px 3px 0.5px hsl(210, 8%, 75%),
  6px 4px 14px hsl(210, 8%, 61%),0px -1px 18px hsl(220, 16%, 100%);
  -webkit-text-stroke: 2px  rgb(246, 247, 248, 1);
  background-position: 9% 95%;
  background-repeat: no-repeat;
  background-size: 0% 5px;
  transition: background-size .3s;
}

nav li a:hover, a:focus {
  color: #dfe3e6;
  text-shadow: 0.3px 1px 1px hsl(220, 16%, 85%),
  1.9px 0.5px 1px hsl(220, 16%, 88%),
  1px 1.3px 1px hsl(220, 16%, 85%), 1.3px 1.7px 1px
  hsl(220, 16%, 84%),
  1.5px 1.9px 1px hsl(220, 16%, 82%),1.95px 2.1px 1px
  hsl(220, 16%, 80%),
  2px 2.3px 1px hsl(220, 16%, 79%),2.2px 2.9px 1px
  hsl(220, 16%, 77%),  2.3px 3px 0.5px hsl(220, 16%, 75%),
  3px 4px 11px #3366ff,0px -3px 8px hsl(220, 16%, 100%)
  ,0px -3px 12px hsl(220, 16%, 100%);
  text-align: center;
  padding: 4px 16px;
  text-decoration: none;
  background-size: 100% 5px;
  font-family: 'Helvetica';
}

.line{
  width: 76vw;
  font-size: 4px;
  margin-left: 2vw;
  background: #ebf0f7;
  border: 1.3px  #f6f7f8;
  box-shadow:  2px 2px 5px #8b8e92,
  -2px -1px 5px #ffffff;
  border-radius: 10vw;
}

/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: scroll; /* Enable scroll if needed */
  visibility: hidden;
}

/* * The Close Button */
p.close2 a{
    z-index:4000;
  font-size: 40px;
  margin-right: 0%;
  position: relative;
  background-position: 0% 3%;
  text-decoration: none;
  background-size: 0% 0px;
  font-size: 20px;
  border-radius: 30vw;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  color: #dee2e6;
  -webkit-text-stroke: 0.8px   #dee2e6;
  text-shadow: -1px 1px 8px rgb(255,255,255,0.45);
    background: hsl(225, 100%, 55%);
    box-shadow:  6px 4px 22px rgb(55, 106, 255,0.9),
    -5px -5px 9px rgb(255,255,255,1);
  font-weight:normal;
}

p.close2{
    z-index:4000;
  text-align: right;
  margin-top: 2%;
  padding: 20px;
  /* margin-left: 67vw; */
  margin-bottom: 10px;
}

.close2 {
  color: #e9ebef;
}

img.photo-modal{
  width: 30vw;
  border-radius: 18px;
  border: .05em solid white;
  overflow: hidden;
  box-shadow:  9px 9px 18px hsl(220, 16%, 62%),
  -9px -9px 18px rgb(255,255,255,0.6);
}

/* img.in-modal{
    width: 75vw;
  height:auto;
  margin-bottom: 7%;
  align-content: center;
  margin-left: 12%;
  display: block;
  overflow: hidden;
  object-fit: cover;
  border-radius: 0px;
  transition-delay: 0.5s;
} */

img.in-modal-top{
  align-content: center;
  margin-top: -20px;
  margin-left: 4%;
  overflow: hidden;
  object-fit: cover;
  width: 83.2vw;
  height:45vh;
  margin-left: -2%;
  margin-top:-2%;
  z-index: 0;
  border-radius: 1px 1px 1px 1px;
}

#data.in-modal-top {
  box-shadow: inset 9.91px 9.91px 15px rgb(0,0,0,0.5),
  inset -9.91px -9.91px 15px hsla(0, 0%, 97%, 0.2);
  background-image: url("port_files/data0.png");
}

#base.in-modal-top {
  box-shadow: inset 9.91px 9.91px 15px rgb(0,0,0,0.5),
  inset -9.91px -9.91px 15px hsla(0, 0%, 97%, 0.2);
  background-image: url("port_files/basecover.png");
}

#graphic.in-modal-top {

  background-image: url("port_files/sharptruth2.jpg");
}

#vis.in-modal-top {
  background-image: url("port_files/vis1.gif");
}

#cheme.in-modal-top {
  background-image: url("port_files/top.png");
}
/* not a header image, the only image */
img.not-modal-top{
  width: 75vw;
  height:auto;
  margin-bottom: 5%;
  align-content: center;
  margin-left: 0.3%;
  margin-top: 7%;
  display:block;
  overflow: hidden;
  object-fit: cover;
  border: 4px solid transparent;
  border-radius: 24px;
  background:
  linear-gradient(to bottom, transparent, transparent),
  linear-gradient(320deg, #D1D9E6, #fff);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  box-shadow:  2px 2px 7px #9da8b3,
  -2px -2px 7px  #f6fcff;
}

/* mostly for gifs and book images in graphics */
img.in-grid-modal{
  width: 37.5vw;
  align-content: center;
  display: block;
  overflow: hidden;
  object-fit: cover;
  margin-bottom: 2%;
  border: 2px solid transparent;
  border-radius: 4px;
  background:
  linear-gradient(to bottom, transparent, transparent),
  linear-gradient(320deg, #D1D9E6, #fff);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  box-shadow:  2px 2px 7px #9da8b3,
  -2px -2px 7px  #f6fcff;
}

img.in-grid-modal-right{
  width: 36.5vw;
  align-content: center;
  transition: 0.4s ease;
  display: block;
  overflow: hidden;
  object-fit: cover;
  border: 2px solid transparent;
  border-radius: 4px;
  background:
  linear-gradient(to bottom, transparent, transparent),
  linear-gradient(320deg, #D1D9E6, #fff);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  box-shadow:  2px 2px 7px #9da8b3,
  -2px -2px 7px  #f6fcff;
}

p.graphic-3 {
  color:  #db0338;
  font-weight: bold;
  line-height: 0.1;
  text-align: center;
  font-size: 14px;
  margin-right: 2.5%;
  border-spacing: inherit;
}

img.hover-in-grid-modal-2{
  width: 36.5vw;
  align-content: center;
  -webkit-box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  display: block;
  overflow: hidden;
  object-fit: cover;
  transition: 0.4s ease;
  border-radius: 0px;
  transition-delay: 0.5s;
}

img.hover-in-grid-modal-2-right{
  width: 36.5vw;
  align-content: center;
  -webkit-box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  display: block;
  overflow: hidden;
  object-fit: cover;
  transition: 0.4s ease;
  border-radius: 0px;
  transition-delay: 0.5s;
}

img.hover-in-grid-modal-3{
  width: 26.5vw;
  align-content: center;
  -webkit-box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  display: block;
  overflow: hidden;
  object-fit: cover;
  transition: 0.4s ease;
  border-radius: 12px;
}

img.hover-in-grid-modal{
  height: 12.5vw;
  width: 12.5vw;
  display: block;
  overflow: hidden;
  object-fit: cover;
  border-radius: 12px;
  transition-delay: 1s;
  border: 2px solid transparent;
  border-radius: 7px;
  background:
  linear-gradient(to bottom, transparent, transparent),
  linear-gradient(320deg, #D1D9E6, #fff);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  box-shadow:  10px 10px 20px #9da8b3 ,
  -10px -10px 20px #ffffff;
  /* #A7B3BE */
}

/* for the sweeper video */
.video-in-modal{
  width: 72vw;
  align-content: center;
  margin-top: -20px;
  margin-bottom: 20px;
  margin-left: 4%;
  border: 4px solid transparent;
  border-radius: 7px;
  background:
  linear-gradient(to bottom, transparent, transparent),
  linear-gradient(320deg, #D1D9E6, #fff);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  box-shadow:  10px 10px 20px #9da8b3 ,
  -10px -10px 20px #ffffff;
  overflow: hidden;
  object-fit: cover;
  transition: 2.4s ease;
}

#sweeper.photo-modal{
  width: 30vw;
  border-radius: 18px;
  margin: 1px;
  margin-bottom: 65px;
  height: 25.5vw;
  margin-top: -11px;
  overflow: hidden;
  object-fit: cover;
}

#home.photo-modal{
  width: 30vw;
  border-radius: 18px;
  margin: 1px;
  height: 48.5vw;
  margin-bottom: 0px;
  overflow: hidden;
  object-fit: cover;
}

#graphic.photo-modal{
  width: 30vw;
  border-radius: 18px;
  margin-top: -45px;
  margin: 1px;
  height: 20.5vw;
  overflow: hidden;
  object-fit: cover;

}

#vis.photo-modal{
  width: 30vw;
  border-radius: 18px;
  margin: 1px;
  height: 25.5vw;
  margin-bottom: 55px;
  overflow: hidden;
  object-fit: cover;
}

#base.photo-modal{
  width: 30vw;
  border-radius: 18px;
  margin: 1px;
  height: 30.5vw;
  margin-bottom: 65px;
  overflow: hidden;
  object-fit: cover;
}

#ktbyte.photo-modal{
  width: 30vw;
  border-radius: 18px;
  margin: 1px;
  height: 20.5vw;
  margin-bottom: 65px;
  opacity: 0.9;
  overflow: hidden;
  object-fit: cover;
  background-color: #f9484a;
  background-image: linear-gradient(315deg, #f9484a 0%, #fbd72b 74%); */

  /* (good gradiant yelloq) background-color: #f9484a;
  background-image: linear-gradient(315deg, #f9484a 0%, #fbd72b 74%); */

  /* background-color: #f5df2e;
  background-image: linear-gradient(315deg, #f5df2e 0%, #f07654 74%); */

  /* background-color: #f39f86;
  background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%); */
  /*(good green gradiant) background-color: #08e1ae;
  background-image: linear-gradient(315deg, #08e1ae 0%, #98de5b 74%); */

}

#data.photo-modal{
  width: 30vw;
  border-radius: 18px;
  margin: 1px;
  margin-bottom: 15%;
  height: 20.5vw;
  overflow: hidden;
  object-fit: cover;
}

#cheme.photo-modal{
  width: 30vw;
  border-radius: 18px;
  margin-bottom: 0px;
  height: 22.5vw;
  overflow: hidden;
  object-fit: cover;
}

@keyframes wiggle {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -1px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(2px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-2px, 1px) rotate(0deg); }
  70% { transform: translate(2px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

img.photo-modal:hover {
  animation: wiggle 0.9s;
  transition: 0.2s;
  animation-iteration-count: 5;
}

.row{
  display: flex;
  flex-direction:  row;
  flex-wrap: wrap;
  justify-content: center;

}
.column{
  display: flex;
  flex-direction:  column;
  height: auto;
  align-content: center;
  justify-content: start;
  flex: 0.37;
}

.one-column, .two-column, .three-column{
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: -20px;
  text-align: center;
}

.glow {
  transition: 1s;
}

/* initial visibility is hidden, display is none */
.modalDialog {
  visibility: hidden;
  display: none;
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(92, 150, 173, 0.195);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  overflow: scroll;
}

/* make the current clicked on modal visible, scrollable and displayed
pointer events are only those currently visible*/
.modalDialog:target {
  opacity:1;
  pointer-events: visible;
  visibility: visible;
  display:block;
  overflow: scroll;
}

/* make contents of inside modal visible and scrollable */
.modalDialog > div {
  width: 80vw;
  position: relative;
  margin: 10% auto;
  padding: 0px 20px 13px 20px;
  border-radius:  48px;
  background: linear-gradient(315deg, #e0e4e7
, #f0f4f7);
  overflow: scroll;
  visibility: visible;
}

h4 {
  margin-left: 60px;
  font-weight: bold;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-bottom: 36px;
  text-align: center;
  font-size: 0.8em;
  width: 240px;
  border-radius: 98px;
  text-transform: uppercase;
  font-family: 'Helvetica', sans-serif;
  font-stretch:extra-expanded;
  transform: scale(1.2, 1);
  -webkit-transform: scale(1.2, 1); /* Safari and Chrome */
  -moz-transform: scale(1.2, 1); /* Firefox */
  -ms-transform: scale(1.2, 1); /* IE 9+ */
  -o-transform: scale(1.2, 1); /* Opera */
  color:hsl(0, 0%, 36%);
  text-shadow: 1px 0px 15px   hsl(0, 0%, 36%)
  , 2px 1.6px 4px hsl(210, 8%, 62%)	,
  -1px -2px 4px hsl(210, 8%, 100%);
  opacity: 0.9;
  border: 2px solid rgb(250, 251, 251,0.5);
  background-color: #e0e4e7;
  box-shadow:  6px 6px 18px #c8ccd2,
              -6px -6px 13px rgb(255,255,255,0.5);
}

/* #db0338; */
/* background: linear-gradient(300deg,#f475a8, */
  #f29069);
  /* #f475a8 #ff7260 */
/* box-shadow:
6px 6px 32px rgb(245,118,161,0.8),
-3.1px -10px 8px hsla(205, 30%, 100%,0.6),
-6.1px -6px 1px hsl(205, 30%, 92%),
-6px 6px 1px hsl(205, 30%, 92%),
7px -6px 1px hsl(205, 30%, 92%),
-7.7px 1.5px 1px hsl(205, 30%, 92%),
7.7px -1.5px 1px hsl(205, 30%, 92%),
6px 6px 1px hsl(205, 30%, 92%),
    -9.1px -12px 20px hsl(205, 30%, 100%),
    3.1px -16px 30px hsl(205, 30%, 100%),
    3.1px 11px 20px hsl(205, 30%, 80%),
    16.1px 11px 20px hsl(205, 30%, 80%); */
/*
h4:after{
  color: rgb(255,114,96,0.2);
} */

h4.data {
/* color: hsl(180, 58%, 33%);
  background: linear-gradient(300deg,rgb(81, 209, 210),
    #5cebd7);
  box-shadow:
  6px 7px 32px rgb(81, 209, 210,0.5),
  -3.1px -10px 8px hsla(205, 30%, 100%,0.6),
  -6.1px -6px 1px hsl(205, 30%, 92%),
  -6px 6px 1px hsl(205, 30%, 92%),
  7px -6px 1px hsl(205, 30%, 92%),
  -7.7px 1.5px 1px hsl(205, 30%, 92%),
  7.7px -1.5px 1px hsl(205, 30%, 92%),
  6px 6px 1px hsl(205, 30%, 92%),
      -9.1px -12px 20px hsl(205, 30%, 100%),
      3.1px -16px 30px hsl(205, 30%, 100%),
      3.1px 11px 20px hsl(205, 30%, 85%),
      16.1px 11px 20px hsl(205, 30%, 88%);
  width: 240px; */
}

/* the visability project word bubble */
h4.vis {
  /* color:  hsl(0, 0%, 36%);
  opacity: 0.9;
  text-shadow: 2px 3px 14px rgb(91, 91, 91,0.8);
  text-decoration: none;  border: 2px solid rgb(250, 251, 251,0.5);
    background-color: #d6dadd;
    box-shadow:  6px 6px 18px #c8ccd2,
                -6px -6px 13px rgb(255,255,255,0.5); */
  /* color: hsl(180, 58%, 33%);
    background: linear-gradient(300deg,rgb(81, 209, 210),
      #5cebd7);
    box-shadow:
    6px 7px 32px rgb(81, 209, 210,0.5),
    -3.1px -10px 8px hsla(205, 30%, 100%,0.6),
    -6.1px -6px 1px hsl(205, 30%, 92%),
    -6px 6px 1px hsl(205, 30%, 92%),
    7px -6px 1px hsl(205, 30%, 92%),
    -7.7px 1.5px 1px hsl(205, 30%, 92%),
    7.7px -1.5px 1px hsl(205, 30%, 92%),
    6px 6px 1px hsl(205, 30%, 92%),
        -9.1px -12px 20px hsl(205, 30%, 100%),
        3.1px -16px 30px hsl(205, 30%, 100%),
        3.1px 11px 20px hsl(205, 30%, 85%),
        16.1px 11px 20px hsl(205, 30%, 88%);
  width: 240px;
  margin-top: 2vh;
  margin-bottom: 2vh; */
}

h4.cheme {
  /* background: linear-gradient(300deg,rgb(228, 81, 75),
    #ff8060); */
  /* box-shadow:
  6px 7px 32px rgb(228, 81, 75,0.5),
  -3.1px -10px 8px hsla(205, 30%, 100%,0.6),
  -6.1px -6px 1px hsl(205, 30%, 92%),
  -6px 6px 1px hsl(205, 30%, 92%),
  7px -6px 1px hsl(205, 30%, 92%),
  -7.7px 1.5px 1px hsl(205, 30%, 92%),
  7.7px -1.5px 1px hsl(205, 30%, 92%),
  6px 6px 1px hsl(205, 30%, 92%),
      -9.1px -12px 20px hsl(205, 30%, 100%),
      3.1px -16px 30px hsl(205, 30%, 100%),
      3.1px 11px 20px hsl(205, 30%, 85%),
      16.1px 11px 20px hsl(205, 30%, 88%);
  width: 240px;
  color:#7e443e; */
}

h4.ktbyte {
  /* background: linear-gradient(300deg,rgb(254, 147, 96),
    #fdc161);
  box-shadow:
  6px 6px 32px rgb(254, 147, 96,0.7),
  -3.1px -10px 8px hsla(205, 30%, 100%,0.6),
  -6.1px -6px 1px hsl(205, 30%, 92%),
  -6px 6px 1px hsl(205, 30%, 92%),
  7px -6px 1px hsl(205, 30%, 92%),
  -7.7px 1.5px 1px hsl(205, 30%, 92%),
  7.7px -1.5px 1px hsl(205, 30%, 92%),
  6px 6px 1px hsl(205, 30%, 92%),
      -9.1px -12px 20px hsl(205, 30%, 100%),
      3.1px -16px 30px hsl(205, 30%, 100%),
      3.1px 11px 20px hsl(205, 30%, 85%),
      16.1px 11px 20px hsl(205, 30%, 88%);
      margin-top: 2vh;
      margin-bottom: 2vh; */
}


img.hover-in-grid-modal:hover{
  transform: scale(2.2);
  height: auto;
  z-index: 9999;
  transition-delay:1.4s;
}

h4.base {
  /* color: hsl(180, 58%, 33%);
    background: linear-gradient(300deg,rgb(81, 209, 210),
      #5cebd7);
    box-shadow:
    6px 7px 32px rgb(81, 209, 210,0.5),
    -3.1px -10px 8px hsla(205, 30%, 100%,0.6),
    -6.1px -6px 1px hsl(205, 30%, 92%),
    -6px 6px 1px hsl(205, 30%, 92%),
    7px -6px 1px hsl(205, 30%, 92%),
    -7.7px 1.5px 1px hsl(205, 30%, 92%),
    7.7px -1.5px 1px hsl(205, 30%, 92%),
    6px 6px 1px hsl(205, 30%, 92%),
        -9.1px -12px 20px hsl(205, 30%, 100%),
        3.1px -16px 30px hsl(205, 30%, 100%),
        3.1px 11px 20px hsl(205, 30%, 85%),
        16.1px 11px 20px hsl(205, 30%, 88%);
  width: 240px; */
}

h4.photo {
  /* color:  #fcfdff;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 4%;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  width: 240px;
  /* border: 10px solid #6bcde3;
  background-color:#6bcde3; */
/*  border-radius: 28px;
  margin-right: 70%;
  border-spacing: inherit;
  color: hsl(180, 58%, 33%);
    background: linear-gradient(300deg,rgb(81, 209, 210),
      #5cebd7);
    box-shadow:
    6px 7px 32px rgb(81, 209, 210,0.5),
    -3.1px -10px 8px hsla(205, 30%, 100%,0.6),
    -6.1px -6px 1px hsl(205, 30%, 92%),
    -6px 6px 1px hsl(205, 30%, 92%),
    7px -6px 1px hsl(205, 30%, 92%),
    -7.7px 1.5px 1px hsl(205, 30%, 92%),
    7.7px -1.5px 1px hsl(205, 30%, 92%),
    6px 6px 1px hsl(205, 30%, 92%),
        -9.1px -12px 20px hsl(205, 30%, 100%),
        3.1px -16px 30px hsl(205, 30%, 100%),
        3.1px 11px 20px hsl(205, 30%, 85%),
        16.1px 11px 20px hsl(205, 30%, 88%);
    width: 240px; */
}

h4.game {
  /* background: linear-gradient(300deg,rgb(254, 147, 96),
    #fdc161);
  box-shadow:
  6px 6px 32px rgb(254, 147, 96,0.7),
  -3.1px -10px 8px hsla(205, 30%, 100%,0.6),
  -6.1px -6px 1px hsl(205, 30%, 92%),
  -6px 6px 1px hsl(205, 30%, 92%),
  7px -6px 1px hsl(205, 30%, 92%),
  -7.7px 1.5px 1px hsl(205, 30%, 92%),
  7.7px -1.5px 1px hsl(205, 30%, 92%),
  6px 6px 1px hsl(205, 30%, 92%),
      -9.1px -12px 20px hsl(205, 30%, 100%),
      3.1px -16px 30px hsl(205, 30%, 100%),
      3.1px 11px 20px hsl(205, 30%, 85%),
      16.1px 11px 20px hsl(205, 30%, 88%); */
}

/*h4.graphic {
  background: #db0338;
  box-shadow:  5px 7px 20px rgb(219, 3, 56,0.8),
  -3px -3px 28px #ffffff;
} */

p.graphic-2 {
  background-color: #90979e;
  font-family: 'Raleway', sans-serif;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.6);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  margin-left: 3%;
  font-size: 18px;
  text-align: right;
  font-weight: bold;
  margin-right: 3%;
}

h2.data {
  word-wrap: break-word;
  background:  hsl(0, 0%, 36%);
  text-shadow: 2px 3px 14px rgb(91, 91, 91,0.8);
  opacity: 0.9;
  -webkit-text-stroke: 0.1px   hsl(0, 0%, 36%);
   -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  position:relative;
  text-transform: uppercase;
  font-family: 'Helvetica', sans-serif;
  font-stretch:extra-expanded;
  transform: scale(1.28, 1);
  -webkit-transform: scale(1.28, 1); /* Safari and Chrome */
  -moz-transform: scale(1.28, 1); /* Firefox */
  -ms-transform: scale(1.28, 1); /* IE 9+ */
  -o-transform: scale(1.28, 1); /* Opera */
  padding-left: 3%;
  font-weight: 700;
  font-size: 42px;
  text-align: left;
  margin-bottom: -10px;
  margin-left: 8vw;
  margin-right: 12vw;
}


p.data {
  font-family: sans-serif;
  background:  hsl(0, 0%, 36%);
  text-shadow: 2px 3px 14px rgb(91, 91, 91,0.8);
  opacity: 0.9;
  line-height: 1.4;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-left: 4%;
  margin-top: 3%;
  margin-right: 3%;
  margin-bottom: 48px;
  font-size: 1em;
  width: 85%;
  font-weight:500;
}

p.data-2 {
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

/* launch the site button */
.launch a {
  margin-left: 36px;
  font-weight: bold;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  font-size: 0.8em;
  text-transform: uppercase;
  font-family: 'Helvetica', sans-serif;
  font-stretch:extra-expanded;
  transform: scale(1.2, 1);
  -webkit-transform: scale(1.2, 1); /* Safari and Chrome */
  -moz-transform: scale(1.2, 1); /* Firefox */
  -ms-transform: scale(1.2, 1); /* IE 9+ */
  -o-transform: scale(1.2, 1); /* Opera */
  text-decoration: none;
  border-radius: 14px;
  border: 2px solid rgb(250, 251, 251,0.5);
  background-color: #e0e4e7;
  box-shadow:  6px 6px 18px #c8ccd2,
              -6px -6px 13px rgb(255,255,255,0.5);
  color:hsl(0, 0%, 36%);
  text-shadow: 1px 0px 15px  hsl(0, 0%, 36%)
  , 2px 1.6px 4px hsl(210, 8%, 62%)	,
  -1px -2px 4px hsl(210, 8%, 100%);
}

p.launch a:hover{
  box-shadow:  6px 6px 18px rgb(74,121,255,0.5),
              -6px -6px 13px rgb(74,121,255,0.5);
}

p.launch{
  text-align: left;
  margin-right: -20px;
    display: inline;
  margin-bottom: 72px;
}

.row{
  display: flex;
  flex-direction:  row;
  flex-wrap: wrap;
  padding-top: 0%;
  width:  100%;
  height: 100%;
  margin-bottom: 40px;
}

.column{
  display: flex;
  flex-direction:  column;
  flex: .35;
  align-items: center;
  border-spacing: 5px;
  margin: 10px;
}

.one-column, .two-column, .three-column{
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: -20px;
  text-align: center;
}

/* section hover*/
.contact-background {
  padding-top: .5%;
  padding-bottom: -10%;
  margin-left:5%;
  margin-right: 2%;
  margin-top: 10%;
  border-radius: 11px;
  align-items: center;
  background: none;
  margin-bottom:5%;
  transition: 2.4s;
}

/* section hover*/
.contact-background {
  padding-top: .5%;
  padding-bottom: -10%;
  margin-left:5%;
  margin-right: 2%;
  margin-top: 10%;
  border-radius: 11px;
  align-items: center;
  background: none;
  margin-bottom:5%;
  transition: 2.4s;
}

/* general messages section */
.chat {
  padding-top: 20%;
  margin-bottom: -3%;
  width: 102vw;
  display: flex;
  flex-direction: column;
  border-radius: 2vw;
  margin-top: 0vh;
  margin-left: -10.9vw;
}
/* placement for messages sections */
.messages {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  margin-left: 7%;
}

/* shaping of messages */
.message {
  border-radius: 29px;
  padding: 8px 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 1px;
  display: inline-block;
  background: hsl(225, 100%, 55%);
}

/* gray messages  */
.yours {
  align-items: flex-start;
}
/* gray messages  */
.yours .message {
  letter-spacing: .05em;
  font-family: "Segoe UI",sans-serif;
  opacity: 0.95;
  font-weight: 400;
  color:  hsl(0, 0%, 36%);
  text-shadow: 2px 3px 14px rgb(91, 91, 91,0.4);
  padding-left: 4%;
  -webkit-text-stroke: 0.8px   rgb(91, 91, 91);
  margin-right: 25%;
  width: 250px;
  position: relative;
  background: hsl(205, 9%, 85%);
  /* #f0f4f7; */
  box-shadow:  -6px -4px 29px rgb(255, 255, 255,1),
  -4px -12px 15px rgb(255, 255, 255,0.4)
  , 5px 8px 29px hsl(210, 8%, 50%);

}

/* gray messages  */
.yours .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -11px;
  height: 25px;
  width: 25px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 5px;
  background: radial-gradient(85% 190% at top left, transparent 50%, #d6dadd 51% );
  transform: rotate(2deg);
}

/* blue messages  */
.mine {
  align-items: flex-end;
}

/* blue messages  */
.mine .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -8px;
  height: 27px;
  width: 20px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 5px;
  background:radial-gradient(85% 190% at top right, transparent 50%,
  hsl(225, 100%, 55%) 51% );
  transform: rotate(2deg);
}

/* blue messages  */
.mine .message {
  letter-spacing: .05em;
  font-family: "Segoe UI",sans-serif;
  opacity: 1;
  font-weight: 400;
  color: #dee2e6;
  -webkit-text-stroke: 0.8px   #dee2e6;
  text-shadow: -1px 2px 8px rgb(255,255,255,0.25);
  margin-left: 18%;
  position: relative;
  box-shadow:  6px 4px 22px rgb(55, 106, 255,0.9),
  -5px -5px 9px rgb(255,255,255,1);
}

/* blue message link list outer class */
.f-three-column{
  list-style-type: none;
  display: block;
  margin-top: -2.1vh;
  margin-bottom: -2vh;
  font-size: 16px;
  line-height: 0.9;
  width: 145px;
  margin-left: -4vh;
}

/* footer col links */
.last ul li  a {
  color: #dee2e6;
  -webkit-text-stroke: 0.8px   #dee2e6;
  background-position: 7% 95%;
  background-repeat: no-repeat;
  background-size: 0% 5px;
  font-weight: 400;
  font-family: "Helvetica";
}

/*mobile state*/
@media screen and (max-width: 1010px){

  /* launch the site button */
  .launch a {
    width: 100%;
    margin-left: 6%;
    font-size: 3.5vw;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius:  33px;
  }

  p.launch {
    display: block;
    flex-wrap: wrap;
  }

  p.close2 a{
  font-size: 40px;
  }

  p.close2 {
  margin-left: 0vw;
  text-align: right;
  }

  h4 {
    font-size: 1em;
    width: 420px;
    margin-bottom: 72px;
  }


  nav li a {
    text-align: right;
    padding: 3px 16px;
    font-size: 100px;
    background-position: 0% 100%;
    }

  nav li a:hover, a:focus {
    text-align: right;
    padding: 4px 16px;
    font-size: 100px;
    background-size: 100% 5px;
  }

  /* for the sweeper video */
  .video-in-modal{
    width: 72vw;
    align-content: center;
  margin-top: -100px;
    margin-bottom: 20px;
  }

  .f-three-column{
    font-size: 26px;
  margin-left: -3.5vw;
  }

  body {
    font-size: 38px;
  }

  /* blue messages  */
  .mine .message.last{
    width: 230px;
  }
/*
top image header */
  img.in-modal-top{
    height: 23vh;
    width: 89vw;
    align-content: center;
    margin-left: -5%;
    /* margin-top: -100px; */
    /* margin-bottom: -220px; */
  }

  /* mostly for gifs and book images in graphics */
  img.in-grid-modal{
    width: 67.5vw;
    align-content: center;
    display: block;
    overflow: hidden;
    object-fit: cover;
    margin-bottom: 2%;
    border: 2px solid transparent;
    border-radius: 4px;
    background:
    linear-gradient(to bottom, transparent, transparent),
    linear-gradient(320deg, #D1D9E6, #fff);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    box-shadow:  2px 2px 7px #9da8b3,
    -2px -2px 7px  #f6fcff;
  }

  img.in-grid-modal-right{
    width: 67.5vw;
    align-content: center;
    transition: 0.4s ease;
    display: block;
    overflow: hidden;
    object-fit: cover;
    border: 2px solid transparent;
    border-radius: 4px;
    background:
    linear-gradient(to bottom, transparent, transparent),
    linear-gradient(320deg, #D1D9E6, #fff);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    box-shadow:  2px 2px 7px #9da8b3,
    -2px -2px 7px  #f6fcff;
  }

  img.title{
    padding-top: 42px;
    width: 80px;
  }

  .chat {
    padding-top: 20%;
    margin-bottom: -5%;
    width: 102vw;
    display: flex;
    flex-direction: column;
    border-radius: 2vw;
    margin-top: 0vh;
    margin-left: -10.9vw;
  }

  /* The Close Button */
  img.hover-in-grid-modal{
    height: 30.5vw;
    width: 30.5vw;
    display: block;
    overflow: hidden;
    object-fit: cover;
    border-radius: 12px;
    z-index:0;
    position: static;
    z-index: 1;
  }

  p.data {
    margin-left: 4%;
    font-size: 30px;
      margin-bottom: 80px;
  }

  p.data-2 {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
  }

  h2.data {
    font-size: 80px;
    margin-top: -10px;
    margin-bottom: -40px;
  }


  #grid.row{
    display: flex;
    flex-direction:  row;
    flex-wrap: wrap;
    justify-content: center;
  }

  #grid.row:first-child {
    z-index: 1;
  }

  #grid.column{
    display: flex;
    flex-direction:  column;
    height: auto;
    flex-basis: 35%;
    justify-content: center;
    width: 90vw;
    height: auto;
    padding-bottom: 9%;
  }

  img.photo-modal{
    width: 35vw;
    border-radius: 18px;
    margin-bottom: 0%;
    overflow: hidden;
  }

  /*navigation*/
  nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 19px;
    overflow: hidden;
    display:inline;
    float: right;
    padding-top: 149px;
    margin-bottom: 15vh;
  }

  img.title{
      padding-top: 118px;
    width: 80px;
  }
}
