
body {
  font-family: "Helvetica";
  background-color: #eeded7;
}

/*navigation*/
nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 19px;
  padding-top: 0%;
  overflow: hidden;
  display: flex;
  float: right;
}

img.title{
  display: flex;
  float: left;
  margin-top: -16px;
  margin-left: 69px;
  width: 30px;
}

img.in-modal{
  width: 90vw;
  height: 80vh;
  margin-bottom:0%;
  display: block;
  transition: 2.7s ease;
  margin-bottom: 5%;
  align-content: left;
  padding-left: -14%;
  -webkit-box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  display: block;
  overflow: hidden;
  object-fit: cover;
  transition: 2.4s ease;
  border-radius: 12px;
}

img.in-modal:hover{
  margin-bottom:7%;
  display: block;
  overflow: hidden;
  transform:scale(1.05);
}

nav li a {
  text-align: center;
  padding: 4px 16px;
  text-decoration: none;
  font-size: 34px;
  color: #0700EF;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 9% 95%;
  background-repeat: no-repeat;
  background-size: 0% 5px;
  transition: background-size .3s;
}

nav li a:hover, a:focus {
  text-align: center;
  padding: 4px 16px;
  text-decoration: none;
  font-size: 34px;
  background-size: 100% 5px;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow:scroll;
  width:100vw;
}

.parallax2 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: scroll;
  width:100vw;
}

.parallax2:nth-of-type(1) {
  background-image:   url('index_files/bckgrnd.png');
  height:120vh;
}

.parallax:nth-of-type(1) {
  background-image:   url('index_files/bckgrnd.png');
  height:120vh;
  overflow: hidden;
}

.parallax:nth-of-type(2) {
  background-image:   url('port_files/GTXP2141.jpg');
  height:65vh;
  border-radius: 48px;
  width: 70vw;
  margin-left: 15%;
}

.parallax:nth-of-type(3) {
  background-image:   url('port_files/bckgrnd.png');
  background-image: blur(10px);
  height:85vh;
  width: 80vw;
  border-radius: 48px;
}

h1.egg{
  font-size: 100px;
  word-wrap: break-word;
  color: #0700EF;
  word-spacing: 1;
  text-align: left;
  padding-left: 5%;
  line-height: 79%;
  padding-top: 420px;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: -10px;
}

h2.skills{
  color:#524DFF;
  text-align: center;
  padding-top: 2px;
  padding-bottom: -60px;
  font-size: 24px;
  font-weight: lighter;
}

.about-me{
  padding-top: 5%;
  margin-top: 4%;
  margin-left: 4%;
  margin-right: 4%;
  border-radius: 12px;
  -webkit-box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  background-color:  #acdcff;
  transition: 2.4s;
}
.about-me:hover{
 transform:scale(1.05);
  border-radius: 12px;
  -webkit-box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  background-color:  #acdcff;
}


h2.skilltitle{
  font-size:34px;
  text-align: justify;
  word-wrap: break-word;
  text-align: center;
  margin-top: 10%;
  line-height: 49%;
  color: #0700EF;
}

 p.skills{
  color: #524DFF;
}

.row{
  display: flex;
  flex-direction:  row;
  flex-wrap: wrap;
  padding-top: 5%;
  width:  100%;
  height: 100%;
}

.column{
  display: flex;
  flex-direction:  column;
  flex: .5;
  align-items: center;
  border-spacing: 5px;
  margin: 10px;
}

.one-column, .two-column, .three-column{
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: -20px;
  text-align: center;
}

/*about css here */
.row{
  display: flex;
  flex-direction:  row;
  flex-wrap: wrap;
  align-items: bottom;
  justify-content: center;
  transition: 1.7s;
}

.column{
  display: flex;
  flex-direction:  column;
  height: auto;
  justify-content: center;
  transition: 1.7s;
}

h2.about{
  font-size:34px;
  text-align: justify;
  word-wrap: break-word;
  text-align: left;
  margin-right: 0%;
  margin-left: 10%;
  margin-top: 6px;
  line-height: 49%;
  color: #0700EF;
}

p.about{
  color: #524DFF;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 5%;
  margin-bottom: 10%;
  letter-spacing: 1.5;
  line-height: 25px;
  font-size: 18px;
}

/*not actually section skills this section is about stuff */
section.skills{
  padding-top: 20%;
  padding-left:13%;
  padding-right: 13%;
}

/* this is skills */
h2.skills{
  padding-bottom: -15%;
  color:  #0700EF;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

/*footer css */
footer{
  margin-top: 10%;
  display:  flex;
  flex-direction: row;
  background-color: #eeded7;
  height: 100px;
  width: 100vw;
}

.f-row{
  display: flex;
  flex-direction:  row;
  flex-wrap: wrap;
  padding-top: 5%;
  width:  100%;
  height: 100%;
}

.f-column{
  display: flex;
  flex: 1;
  align-items: center;
  border-spacing: 0px;
}

.f-one-column{
  margin-bottom: 0px;
  margin-left: 0%;
  margin-right: 0px;
  text-align: center;
}

.f-three-column{
  flex-direction: row;
  text-align: right;
  margin-left: 20vw;
}

.f-three-column ul {
  list-style-type: none;
  display:flex;
  text-decoration: none;
}
.f-three-column ul li  a {
  margin: 5px;
  text-decoration: none;
  font-size: relative;
  text-align: left;
  color: #0700EF;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 9% 95%;
  background-repeat: no-repeat;
  background-size: 0% 5px;
  transition: background-size .3s;
}

.f-three-column ul li  a:hover, a:focus {
    text-align: right;
    text-decoration: none;
    background-size: 100% 5px;
}

h1.foot{
  font-size: 14px;
  font-weight:lighter;
  margin-left: 5vw;
  margin-right: 20vw;
  color:#0700EF;
}

h2.foot{
  text-align: center;
  padding-right: 0%;
  color:#0700EF;
}

.skill-background:hover {
  transform:scale(1.05);
  margin-top: 10%;
  padding-bottom: 1%;
  margin-left: 4%;
  margin-right: 4%;
  border-radius: 12px;
  -webkit-box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
}
  .skill-background {
    padding-top: .5%;
    padding-bottom: 6%;
    margin-left:4%;
    margin-right: 4%;
    border-radius: 12px;
    -webkit-box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
    box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
    background-color:  #d6e921;
    transition: 2.4s;
  }
@media screen and (max-width: 1024px){
  /*navigation*/
  nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 19px;
    padding-top: 0%;
    overflow: hidden;
    display:inline;
    float: right;
  }

  nav li a {
    text-align: right;
    padding: 3px 16px;
    text-decoration: none;
    font-size: 60px;
    color: #0700EF;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 5px;
    transition: background-size .3s;
  }

  nav li a:hover, a:focus {
    text-align: right;
    padding: 4px 16px;
    text-decoration: none;
    font-size: 60px;
    background-size: 100% 5px;
  }

  h1.egg{
    font-size: 100px;
    word-wrap: break-word;
    color: #0700EF;
    word-spacing: 1;
    text-align: left;
    padding-left: 5%;
    line-height: 79%;
    padding-top: 650px;
    padding-right: 5%;
    padding-left: 10%;
    padding-bottom: -10px;
  }

  .f-three-column ul{
    list-style-type: none;
    display:inline;
    text-decoration: none;
    line-height: 0.5;
    margin-top:-10px;
    text-align: right;
  }

  .f-three-column ul li{
    font-size: 24px;
  }

  img.in-modal{
    height: 80vh;
    margin-bottom: 45%;
    size: cover;
    overflow: hidden;
    display: block;
    transition: 2.7s ease;
    margin-bottom: 5%;
    align-content: left;
    padding-left: -14%;
    -webkit-box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
    box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
    display: block;
    object-fit: cover;
    transition: 2.4s ease;
    border-radius: 12px;
  }
	
  img.title{
    display: flex;
    float: left;
    margin-top: 9px;
    margin-left: 69px;
    width: 50px;
  }

  h1.foot{
    font-size: 24px;
  }

  h2.about{
    font-size:52px;
    text-align: justify;
    word-wrap: break-word;
    text-align: center;
    margin-right: 0%;
    margin-left: 10%;
    margin-top: 6px;
    line-height: 49%;
    color: #0700EF;
  }

  p.about{
    color: #524DFF;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5%;
    margin-bottom: 10%;
    letter-spacing: 1.5;
    line-height: 50px;
    font-size: 34px;
  }

  h2.skilltitle{
    font-size:52px;
    text-align: justify;
    word-wrap: break-word;
    text-align: center;
    margin-top: 10%;
    line-height: 49%;
    color: #0700EF;
  }
	
.skill-background:hover {
  transform:scale(1.05);
  padding-top: 4%;
  padding-bottom: 1%;
  border-radius: 12px;
  -webkit-box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
  box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
}
	
  .skill-background {
    padding-top: .5%;
    padding-bottom: 6%;
    margin-left: 4%;
    margin-right: 4%;
    border-radius: 12px;
    -webkit-box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
    box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
    background-color:  #e5c700;
    transition: 2.4s;
  }

  h2.skills{
   color: #524DFF;
   font-size: 35px;
  }

   p.skills{
    color: #524DFF;
    font-size: 24px;
  }

  .about-me{
    padding-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 12px;
    -webkit-box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
    box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
    background-color:  #D2DF54;
    transition: 2.4s;
  }

  .about-me:hover{
    margin-top: 8%;
    transform:scale(1.05);
    border-radius: 12px;
    -webkit-box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
    box-shadow: 0px 3px 39px 16px rgba(0,0,0,0.24);
    background-color:  #acdcff;
  }

  img.in-modal:hover{
    margin-bottom: 8%;
    display: block;
    overflow: hidden;
    transform:scale(1.05);
  }

}
